{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2 class="text-info">Submit Information</h2>

    <br />

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label class="col-form-label text-white">{{ field.label_tag }}</label>
            <span style="color:red">
                {{ field.errors }}
            </span>
            {{ field }}
        </div>
        {% endfor %}

        <button class="btn btn-info">
            Submit <i class="lni lni-checkmark"></i>
        </button>
    </form>

    <br />
{% endblock %}