{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2 class="text-info">Submit Information</h2>

    <br />

    <form action="" method="post">
        <div class="form-group">
            <label class="text-white">Username</label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="text-white">Fun Fact</label>
            <textarea
                type="text"
                class="form-control"
                rows="5"
            ></textarea>
        </div>
        <button class="btn btn-info">
            Submit <i class="lni lni-checkmark"></i>
        </button>
    </form>

    <br />
{% endblock %}